services:
  financerag:
    build:
      context: .
      secrets:
        - PASSWD
    volumes:
      - .:/FinanceRAG
    stdin_open: true
    ports:
      - "3489:22"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              # device_ids: ['0', '3']
              capabilities: [gpu]

secrets:
  PASSWD:
    environment: PASSWD
